<div class="wrapper d-flex flex-column min-vh-100 bg-light">
<header class="header header-sticky mb-4">
    <div class="container-fluid">
        <ul class="header-nav container-fluid mt-3 d-flex justify-content-end">
            <li class="nav-item"><a href="{{ path('app_logout') }}"><h3><i class="fa-solid fa-right-from-bracket"></i></h3></a></li>
        </ul>
    </div>
</header>