<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <ul class="sidebar-nav" data-coreui="navigation">
        <h5><li class="nav-title">AARYA_FREGRANCE</li></h5>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('app_product_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-chart-simple"></i>
                        <p>
                            Product
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_category_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-chart-simple"></i>
                        <p>
                            Category
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>