<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<nav class="navbar header-top fixed-top navbar-expand-lg " style="background: #caced5;">
    <i class="fa-brands fa-product-hunt fa-3x ms-5"></i>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-lg-5 navbar-center">
            <li class="nav-item active">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skill">Skill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#service">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#portfolio">portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#client">Testimonial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>