<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<nav class="navbar header-top fixed-top navbar-expand-lg " style="background: #caced5;">
    <a class="nav-link" href="{{ path('app_product_display') }}"><i class="fa-brands fa-product-hunt fa-3x ms-5"></i></a>
    <h4><b>AARYA_FREGRANCE</b></h4>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-lg-5 navbar-center">
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>