{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <h2>Create Category</h2>
    <div class="border bg-light">

        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
