{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    <h2 class="text-uppercase text-center">Create new Product</h2>
    <div class="border mb-10 bg-light">
    {{ include('product/_form.html.twig') }}

        <a href="{{ path('app_product_index') }}" class=" text-uppercase">back to list</a>
    </div>

{% endblock %}
