{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    <h2>Create Product</h2>
    <div class="border bg-light">
    {{ include('product/_form.html.twig') }}
    </div>

{% endblock %}
