{% extends 'base.html.twig' %}

{% block title %}Homepage | {{ parent() }}{% endblock %}

{% block body %}
    {% for role in app.user.roles %}
    <h5>{{ title ~ "Login AS " ~ role }}</h5>
    {% endfor %}
    <div>
        Tracks:
        <ul>

            {% for track in tracks %}

                <li>
                    {{ track.song }} - {{ track.Artist }}
                </li>

            {% endfor %}

        </ul>
    </div>
{% endblock %}
